/*
 *  css rules for admin,we expect these to be run on desktops and laptops, possibly tablets
 */

.enterLabel
{
    display:            inline-block;
    width:              10em;
}

.enterInput
{
    display:            inline-block;
}

.adminDisplay
{
    display:            inline-block;
}

.button
{
    display:            inline-block;
    background-color:   #8080FF;
    padding:            1%;
    margin-left:        1%;
}

.blockBox
{
    padding:            1%;
    border:             2px solid black;
    margin:             1%;
}

.blockBuffer
{
    padding:            0.25%;
    margin:             0.25%;
}
